.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px -10px rgba(43, 46, 231, 0.25);
  }
}
