.navbar-lewagon {
  justify-content: space-between;
  background: rgb(244,244,244);
  // background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-transparent {
  background-color: transparent;
  background: grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
